/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 58%);
	background-color: #343a40;
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 66%);
	background-color: #FEC369;
}

body {
    font-family: 'Quicksand', sans-serif!important;
    overflow-x: hidden;
}

.navbar .navbar-nav .nav-link {
    font-size: 15px;
}

.simple-dropdown .dropdown-menu .dropdown a {
    font-size: 14px;
}

.text-medium {
    font-size: 15px;
    line-height: 20px;
}

.title-large {
    font-size: 60px;
    line-height: 72px;
}

.blog-grid .blog-post-image .blog-category {
    bottom: 23px;
    left: 23px;
    top: auto;
    right: auto;
    font-size: 13px;
    background: rgba(23, 23, 23, 0.75);
    color: #fff;
    text-transform: unset;
}

.post_title {
    display: -webkit-box!important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 56px;
}

.last-paragraph-no-margin p:last-of-type {
    margin: 0 0 25px;
}

.footer-hotel-resort.footer-dark .social-icon-style-10 a {
    border-radius: 6px;
}

figcaption {
    background-color: #000;
    overflow: hidden;
    padding: 20px;
}

figcaption p:last-child {
    margin-bottom: 0!important;
}

a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
    color: #FFC367;
}

.text-primary {
    color: #FFC367;
}

.bg-primary {
    background: #FFC367;
}

/* know_detail */
.know_detail__info {
    background-color: #FFC367;
    color: #000;
}

.know_detail__content {
    background-color: #fff;
    color: #000;
}
/* end know_detail */

/* 3d-model */
.model-viewer-container {
    width: 100%;
    height: 100%;
    min-height: 500px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 6px;
}

.model-viewer-container model-viewer {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
/* 3d-model end */

/* ec-coverage */
.ec-coverage__title {
    font-size: 13px;
    color: #fff;
}

.legend__ec-coverage p {
    width: 16%;
    display: inline-block;
    font-size: 13px;
    margin: 0px;
    font-style: normal;
    color: #fff;
}

.legend__ec-coverage .figkey {
    border: 1px solid #343a40;
    display: block;
    width: 100%;
    border-right: 1px solid #343a40;
    border-left: 1px solid #343a40;
    height: 6px;
    background: #fff;
}

.legend__ec-coverage p:first-child .figkey {
    border-left: 1px solid #343a40;
}
/* end ec-coverage */

/* ecl-animcap */
.ecl-animcap {
    color: #fff;
    font-size: 13px;
}

.ecl-animcap p {
    margin-bottom: 0;
}

.ecl-animcap .figkey {
    border: 1px solid #343a40;
    height: 12px;
    width: 12px;
    display: inline-block;
}
/* end ecl-animcap */

/* open new tab */
.open-new-tab {
    background: #FEC369;
    color: #000!important;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
}

.open-new-tab i {
    font-weight: 600;
    margin-right: 10px;
}
/* end open new tab */

/* moon-phase_table */
.moon-phase_table {
    background: #000;
    color: #fff;
    border-radius: 6px;
    padding: 20px;
    width: 100%;
}

.moon-phase_table td {
    border: 1px solid #dee2e6;
    /* height: 90px; */
    width: 70px;
}

.moon-phase_table td.date-now {
    color: #FEC369;
    font-weight: 700;
    font-size: 18px;
}

.moon-phase_form {
    text-align: center;
}

.moon-phase_select {
    width: 125px;
    color: #000;
    font-weight: 600;
}

.moon-phase_box {
    padding: 20px;
    height: 90px;
}

.background-footer {
    background-image: url(../images/bg-footer.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .moon-phase_box {
        padding: 0px;
        height: 90px;
    }
}

@media (max-width: 340px) {
    .moon-phase_table td {
        font-size: 12px;
    }
}
/* end moon-phase_table */

@media (max-width: 991px) {
    .navbar.bg-transparent {
        background-color: #000!important;
    }

    .navbar.navbar-dark.bg-transparent .navbar-nav .nav-link {
        color: #fff!important;
    }

    .navbar.navbar-dark .navbar-nav>.nav-item.dropdown.simple-dropdown:hover>a {
        color: #fff!important;
    }

    .navbar-dark.bg-transparent .navbar-toggler-line {
        background: #fff;
    }

    .navbar.navbar-dark .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar.navbar-dark .navbar-nav>.nav-item.dropdown.simple-dropdown:hover>a {
        color: #fff!important;
    }

    .sticky .navbar.header-dark .navbar-nav .nav-link {
        color: #fff!important;
    }

    .navbar.bg-transparent {
        background-color: #000000!important;
    }

    .title-large {
        font-size: 50px;
        line-height: 60px;
    }

    .navbar.navbar-dark .nav-bar-contact {
        color: #fff!important;
    }
}

@media (max-width: 320px) {
    header .navbar .navbar-brand img {
        max-height: 36px;
    }
}