---
layout: page
permalink: /lich-thien-van/
title: Lịch thiên văn
---

<!-- start section -->
<section class="bg-dark">
  <div class="container">
    {% for item in site.data.navigation_list.lichthienvan %}
      <div class="row margin-6-rem-bottom md-margin-5-rem-bottom align-items-center">
          <div class="col-12 col-lg-12 col-md-12 text-center sm-margin-10px-bottom wow animate__fadeIn" data-wow-delay="0.1s">
              <h5 class="alt-font font-weight-600 text-white text-uppercase margin-5px-bottom letter-spacing-minus-1px">{{ item.title | escape }}</h5>
          </div>
      </div>
      <div class="row text-center row-cols-1 row-cols-lg-4 row-cols-sm-2">
          <!-- start interactive banner item -->
          {% for entry in item.subfolderitems %}
          <div class="col interactive-banners-style-01 margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
              <div class="interactive-banners-image border-radius-6px bg-dark-slate-blue">
                  <img src="{{ site.baseurl }}/images/lich-thien-van/category/{{ entry.image | escape }}" class="scale" alt="" />
                  <div class="interactive-banners-hover bg-gradient-extra-dark-gray-transparent">
                      <div class="d-table h-100 w-100">
                          <div class="d-table-cell align-bottom padding-3-half-rem-tb xs-padding-6-half-rem-tb">
                              <a href="{{ entry.url | relative_url }}" class="rounded-icon bg-neon-orange interactive-banners-icon"><i class="feather icon-feather-arrow-right text-white"></i></a>
                              <div class="font-weight-500 line-height-normal alt-font text-white text-large interactive-banners-title">{{ entry.page | escape }}</div>
                              <div class="font-weight-500 line-height-normal alt-font text-uppercase interactive-banners-sub-title">
                                <a href="{{ entry.url | relative_url }}" class="text-white text-medium text-decoration-line-bottom">{{ entry.page | escape }}</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
          <!-- end interactive banner item -->
      </div>
    {% endfor %}
  </div>
</section>
<!-- end section -->