<footer class="footer-hotel-resort footer-dark bg-dark-purple" style="background-image:url('{{ site.baseurl }}/images/home-travel-agency-footer-bg.jpg');background-position: center;background-repeat: no-repeat;background-size:cover;">
  <div class="footer-top padding-six-tb lg-padding-seven-tb md-padding-50px-tb">
      <div class="container">
          <div class="row">
              <!-- start footer column -->
              <div class="col-12 col-md-3 col-sm-6 sm-margin-40px-bottom xs-margin-30px-bottom">
                  <span class="alt-font font-weight-500 d-block text-white text-uppercase text-medium margin-15px-bottom xs-margin-10px-bottom letter-spacing-1px">Company</span>
                  <ul>
                      <li><a href="about-us.html">About company</a></li>
                      <li><a href="our-services.html">Our services</a></li>
                      <li><a href="our-team.html">Job opportunities</a></li>
                      <li><a href="contact-us-classic.html">Contact us</a></li>
                  </ul>
              </div>
              <!-- end footer column -->
              <!-- start footer column -->
              <div class="col-12 col-md-3 col-sm-6 sm-margin-40px-bottom xs-margin-30px-bottom">
                  <span class="alt-font font-weight-500 d-block text-white text-uppercase text-medium margin-15px-bottom xs-margin-10px-bottom letter-spacing-1px">Customer</span>
                  <ul>                           
                      <li><a href="faq.html">Client support</a></li>
                      <li><a href="pricing-packages.html">Pricing packages</a></li>
                      <li><a href="our-story.html">Company story</a></li>
                      <li><a href="latest-news.html">Latest news</a></li>
                  </ul>
              </div>
              <!-- end footer column -->
              <!-- start footer column -->
              <div class="col-12 col-md-3 col-sm-6 xs-margin-30px-bottom">
                  <span class="alt-font font-weight-500 d-block text-white text-uppercase text-medium margin-15px-bottom xs-margin-10px-bottom letter-spacing-1px">Resources</span>
                  <ul>                           
                      <li><a href="faq.html">Theme guide</a></li>
                      <li><a href="faq.html">Support desk</a></li>
                      <li><a href="what-we-offers.html">What we offer</a></li>
                      <li><a href="our-story.html">Company history</a></li>
                  </ul>
              </div>
              <!-- end footer column -->
              <!-- start footer column -->
              <div class="col-12 col-md-3 col-sm-6">
                  <span class="alt-font font-weight-500 d-block text-white text-uppercase text-medium margin-15px-bottom xs-margin-10px-bottom letter-spacing-1px">Destinations</span>
                  <ul>
                      <li><a href="#">New zealand</a></li>
                      <li><a href="#">North macedonia</a></li>
                      <li><a href="#">United arab emirates</a></li>
                      <li><a href="#">United kingdom</a></li>
                  </ul>
              </div>
              <!-- end footer column -->
          </div>
      </div>
  </div>
  <div class="footer-bottom padding-one-top padding-six-bottom d-inline-block w-100">
      <div class="container"> 
          <div class="row align-items-center">
              <div class="col-12 col-sm-4 text-center text-sm-left xs-margin-20px-bottom">
                  <a href="index.html" class="footer-logo"><img src="{{ site.baseurl }}/images/logo-neon-orange-white.png" data-at2x="{{ site.baseurl }}/images/logo-neon-orange-white@2x.png" alt=""></a>
              </div>
              <div class="col-12 col-sm-8 text-center text-sm-right last-paragraph-no-margin">
                  <p>&copy; 2021 Bản quyền thuộc về <a href="https://namgd.com/" target="_blank" class="text-decoration-line-bottom text-white">NamGD.com</a></p>
              </div>
          </div>
      </div>
  </div>
</footer>

<a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>

<script src="{{ "/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/js/theme-vendors.min.js" | relative_url }}"></script>
<script src="{{ "/js/main.js" | relative_url }}"></script>
<script src="{{ "/js/js_custom.js" | relative_url }}"></script>
