<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent border-bottom border-color-white-transparent header-dark fixed-top navbar-boxed header-reverse-scroll">
            {%- include header-menu.html -%}
        </nav>
    </header>

    <div class="main-content">
        <!-- Slide Main -->
        <section class="p-0" >
            <div class="container-fluid position-relative">
                <div class="row">
                    <div class="swiper-container white-move full-screen md-h-650px sm-h-500px" data-slider-options='{ "slidesPerView": 1, "loop": true, "autoplay": { "delay": 4500, "disableOnInteraction": false },  "pagination": { "el": ".swiper-pagination", "clickable": true }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                        <div class="swiper-wrapper">
                            <!-- start slider item -->
                            {% for item in site.data.slide_main.slidemain %}
                                {% for slide in item.slides %}
                                    <div class="swiper-slide cover-background" style="background-image:url('{{ site.baseurl }}/images/kien-thuc/he-mat-troi/{{ slide.image | escape }}');">
                                        <div class="container h-100">
                                            <div class="row justify-content-start h-100">
                                                <div class="col-12 col-xl-6 col-sm-7 d-flex flex-column justify-content-center text-center h-100">
                                                    
                                                    <h1 class="alt-font font-weight-800 title-large text-white text-uppercase letter-spacing-minus-4px margin-45px-bottom sm-letter-spacing-minus-1px sm-margin-30px-bottom text-shadow-large sm-no-text-shadow xs-w-90 mx-auto">{{ slide.title | escape }}</h1>
                                                    <span class="alt-font font-weight-500 text-extra-medium letter-spacing-2px text-white d-block margin-35px-bottom sm-margin-15px-bottom">{{ slide.description | escape }}</span>
                                                    <a href="{{ slide.url | relative_url }}" class="btn btn-fancy btn-large btn-dark-gray btn-box-shadow align-self-center">Xem Chi Tiết</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <!-- end slider item -->                          
                        </div>
                        <!-- start slider pagination -->
                        <div class="swiper-pagination swiper-light-pagination d-sm-none"></div>
                        <!-- end slider pagination -->
                        <!-- start slider navigation -->
                        <div class="swiper-button-next-nav swiper-button-next rounded-circle slider-navigation-style-07 d-none d-sm-flex"><i class="feather icon-feather-arrow-right"></i></div>
                        <div class="swiper-button-previous-nav swiper-button-prev rounded-circle slider-navigation-style-07 d-none d-sm-flex"><i class="feather icon-feather-arrow-left"></i></div>
                        <!-- end slider navigation -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Slide Main End -->

        <!-- Các hành tinh trong Hệ Mặt Trời --> 
        <section class="bg-dark padding-eleven-lr xl-padding-two-lr xs-no-padding-lr">
            <div class="container-fluid">
                <div class="row margin-3-rem-bottom md-margin-2-rem-bottom align-items-center">
                    <div class="col-12 col-lg-12 col-md-12 text-center sm-margin-10px-bottom wow animate__fadeIn" data-wow-delay="0.1s">
                        <h5 class="alt-font font-weight-600 text-white text-uppercase margin-5px-bottom letter-spacing-minus-1px">
                            Các hành tinh
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 blog-content">
                        <ul class="blog-grid blog-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                            <li class="grid-sizer"></li>
                            <!-- start blog item -->
                            {% for post in site.categories.Kien-thuc reversed %}
                                {% if post.categories contains "Hanh-tinh" %}
                                <li class="grid-item wow animate__fadeIn">
                                    <div title="{{ post.title }}" class="blog-post border-radius-5px bg-white box-shadow-medium">
                                        <div class="blog-post-image bg-medium-slate-blue">
                                            <a href="{{ post.url }}" title="{{ post.title }}">
                                                <img src="{{ site.baseurl }}/images/kien-thuc//category/he-mat-troi/{{ post.image }}.webp" alt="">
                                            </a>
                                        </div>
                                        <div class="post-details padding-2-rem-lr padding-1-half-rem-tb bg-black text-center">
                                            <a href="{{ post.url }}" title="{{ post.title }}" class="alt-font font-weight-600 text-extra-medium text-very-light-white-transparent">
                                                {{ post.title }}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                            <!-- end blog item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hết Các hành tinh trong Hệ Mặt Trời -->

        <!-- Lịch thiên văn -->
        <!-- start section --> 
        <section class="bg-dark padding-eleven-lr xl-padding-two-lr xs-no-padding-lr pt-0">
            <div class="container-fluid">
                <div class="row margin-3-rem-bottom md-margin-2-rem-bottom align-items-center">
                    <div class="col-12 col-lg-12 col-md-12 text-center sm-margin-10px-bottom wow animate__fadeIn" data-wow-delay="0.1s">
                        <h5 class="alt-font font-weight-600 text-white text-uppercase margin-5px-bottom letter-spacing-minus-1px">
                            Lịch Thiên Văn Tháng 01/2022
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 blog-content">
                        <ul class="blog-grid blog-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                            <li class="grid-sizer"></li>
                            <!-- start blog item -->
                            {% for post in site.categories.Lich-thien-van reversed %}
                                {% if post.categories contains "Nam-2022" and post.categories contains "Thang-1" %}
                                <li class="grid-item wow animate__fadeIn">
                                    <div title="{{ post.title }}" class="blog-post border-radius-5px bg-white box-shadow-medium">
                                        <div class="blog-post-image bg-medium-slate-blue">
                                            <a href="{{ post.url }}" title="{{ post.title }}">
                                                <img src="{{ site.baseurl }}/images/lich-thien-van/post/{{ post.image }}.webp" alt="">
                                            </a>
                                            <a href="{{ post.url }}" class="blog-category alt-font font-weight-600">Ngày {{ post.thoigian }}/{{ post.date | date: "%m" }}</a>
                                        </div>
                                        <div class="post-details padding-2-rem-lr padding-1-half-rem-tb bg-black">
                                            <a href="{{ post.url }}" title="{{ post.title }}" class="alt-font font-weight-600 text-extra-medium text-white post_title">
                                                {{ post.title }}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                            <!-- end blog item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hết Lịch thiên văn --> 

        
    </div>

    {%- include footer.html -%}
    
  </body>
</html>
